/* Line length is limited to ~66 characters */
.ll,
.ll-m { max-width: 30em; }

/* Line length is limited to ~80 characters */
.ll-l { max-width: 34em; }

/* Line length is limited to ~45 characters */
.ll-s { max-width: 20em; }
