/*
	YouCaring Color Variables
	Accessibility Cheat Sheet: https://youcaring.wake.com/4

	--

	Primary Colors
*/

// Aqua
$aqua-l3: #E5FAFC;
$aqua-l2: #C0F4F7;
$aqua-l1: #7FE9EF;
$aqua: #03D5DD;
$aqua-b1: #00E7F2;
$aqua-d1: #00ABB4;

// Red
$red-l3: #FFEEEF;
$red-l2: #FFD5D8;
$red-l1: #FFAAB0;
$red: #FF5661;
$red-b1: #FF3441;
$red-d1: #DB2935;

/*
	Secondary Colors
*/

// Blue
$blue-l3: #EDF6FC;
$blue-l2: #D4EAF9;
$blue-l1: #A8D5F3;
$blue: #0091F9;
$blue-b1: #00A4FF;
$blue-d1: #0075C0;

// Purple
$purple-l3: #F1ECFB;
$purple-l2: #DDD1F5;
$purple-l1: #B9A3EA;
$purple: #7447D6;
$purple-b1: #7333FF;
$purple-d1: #5C37AD;

// Green
$green-l3: #F2F9F4;
$green-l2: #99D6AD;
$green-l1: #4CB76F;
$green: #15D983;
$green-b1: #37F19F;
$green-d1: #0DB36A;

// Yellow
$yellow-l3: #FFF7E5;
$yellow-l2: #FFEDC0;
$yellow-l1: #FFDA7F;
$yellow: #FFB500;
$yellow-b1: #FFD700;
$yellow-d1: #FF9B00;

/*
	Greyscale
*/

$grey-1: #F9FAFA;
$grey-2: #F4F5F7;
$grey-3: #F0F1F3;
$grey-4: #E5E7EA;
$grey-5: #D6D9DE;
$grey-6: #C0C5CD;
$grey-7: #969EAC;
$grey-8: #646C7C;
$grey-9: #3B4354;

$black: $grey-9;
$white: #fff;
